<h1>Lista de productos</h1>
<a href="<%= new_product_path %>" class="btn btn-info btn-icon-split"> <spam class="icon text-white-50">
<i class="fas fa-flag"></i></spam>
<spam class="text">Crear Producto</spam></a>

<a href="<%= products_path(format: :xlsx) %>" class="btn btn-success btn-icon-split">
  <span class="icon text-white-50">
      <i class="fas fa-file"></i>
  </span>
  <span class="text">Exportar a Excel</span>
</a>
<br><br>
<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Referencia</th>
<th>Cantidad</th>
<th>Acciones</th>
</tr>
</thead>
<tbody>
<% @products.each do |product|%>
  <tr>
  <td><%= product.id%></td>
  <td><%= product.name%></td>
  <td><%= product.reference%></td>
  <td><%= product.quantity %></td>
  <td><%= link_to "Detalles", product_path(product), class: 'btn btn-info' %></td>
  
  </tr>
  <% end %>
</tbody>
</table>
